@model UpdateProductVM
<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Product</h4>

                <form method="post" enctype="multipart/form-data" class="forms-sample">

                    <div class="form-group">
                        <img style="width:200px;height:150px;" src="~/assets/images/website-images/@Model.PrimaryImage" />
                        <input type="hidden" value="@Model.PrimaryImage" asp-for="PrimaryImage" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="MainPhoto">Main Image</label>
                        <input asp-for="MainPhoto" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="MainPhoto"></span>
                    </div>
                    <div class="form-group">
                        <img style="width:200px;height:150px;" src="~/assets/images/website-images/@Model.SecondaryImage" />
                        <input type="hidden" value="@Model.SecondaryImage" asp-for="SecondaryImage" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondaryPhoto">Secondary Image</label>
                        <input asp-for="SecondaryPhoto" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="SecondaryPhoto"></span>
                    </div>


                    <div class="form-group d-flex">
                        @foreach (ProductImage proImage in Model.ProductImages)
                        {
                            <div class="position-relative">
                                <img style="width:180px;height:120px;" src="~/assets/images/website-images/@proImage.Image"  />
                                <button style="top:5px;right:5px;" class="custom-delete btn btn-danger position-absolute" type="button">X</button>
                                <input type="hidden" value="@proImage.Id" asp-for="ImageIds" class="form-control">
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="AdditionalPhotos">Additional Image</label>
                        <input asp-for="AdditionalPhotos" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="AdditionalPhotos"></span>
                    </div>

                   




                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price">Price</label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SKU">SKU</label>
                        <input asp-for="SKU" class="form-control" placeholder="SKU">
                        <span class="text-danger" asp-validation-for="SKU"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CategoryId">Category</label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name)))">
                           
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TagIds">Tags</label>
                        <select asp-for="TagIds" class="form-control" asp-items="@(new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name)))">
                        </select>
                        <span class="text-danger" asp-validation-for="TagIds"></span>
                    </div>
                   
                    <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <textarea rows="7" asp-for="Description" class="form-control" placeholder="Description">
                        </textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section DeleteImages{
    <script>

        var btns = document.querySelectorAll(".custom-delete")

        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                btns[i].parentElement.remove()
            })
        }

    </script>
}
